* {
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
}

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}
/*
body {
  
}

div {
 
}

/*Edição de estilo do lateral*/
/*
#container-a {
  
}

.profile {
  
}

.links {

}

.technologies {
  
}

.experiences {
  
}

.education {
 
}
*/
/*Edição de estilo do centro*/
/*
#container-b {

}

.my-projects {
  
}

/*Posts Projects*/
/*
.post1 {
    
}

.post2 {
 
}

.recents-posts {

}

.posts {
    
}

.rec-posts {
    
}
*/